@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}


/* This is the main dashboard css */
.main {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.leftSidebar {
  position: fixed;
  float: left;
  width: 300px;
  height: 100vh;
  /* background-color: #151942; */
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 50%, rgba(0,212,255,1) 100%);
}

.logo-ctn {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 60px;
  /* background-color: red; */
  margin-top: 10px;
  margin-bottom: -20px;
}

.logo-ctn img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.logo-ctn h3 {
  color: #fff;
  /* margin-top: 20px; */
  margin-left: 5px;
  font-family: "Poppins";
}

.tabs {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 400px;
  margin-top: 45px;
  margin-left: 20px;
  /* background-color: rgb(32, 32, 32); */
}

.tabs a {
  text-decoration: none;
}

.tab {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  /* background-color: red; */
  margin-bottom: 5px;
}

.active{
            background-color: rgb(218, 1, 84);
            padding-left: 10px;
        
}
.tab:hover {
  /* background-color: rgb(82, 2, 32); */
  padding-left: 10px;
  color: #000; 
}
.tab img {
  width: 15px;
  height: 15px;
  margin-right: 20px;
}

.tab h5 {
  color: #fff;
  font-family: "Poppins";
  font-weight: 300;
}

a:last-child {
  position: absolute;
  bottom: 0;
}

a:nth-child(2) img {
  width: 20px;
  height: 20px;
}

a:nth-child(3) img {
  width: 20px;
  height: 20px;
}

.main-container {
  float: right;
  width: calc(100% - 300px);
  height: inherit;
  overflow-x: hidden;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: rgb(241, 241, 240);
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-image: url('../assets/dot.png');
  background-size: 35px;
  border: 0;
  background-color: transparent;
  margin-left: 10px;
  /* background-color: white; */
}

.prf-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 200px;
  height: 45px;
  /* background-color: red; */
  margin-right: 10px;
}

.prf-circle {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-right: 10px;
  background-color: white;
}

.prf-circle img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

.prf-username {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 600;
  color: #2c2c2c;
}

.dashboard-content {
  width: 100%;
  height:auto;
  /* background-color: red; */
  padding: 10px;
  margin-top: 20px;
  /* background-color: yellow; */
}

.ContentTitle {
  font-family: "Poppins";
  /* text-align: center; */
}
.small{
  font-size: 20px;
}


/* create employee tab */
.create-content {
  padding: 10px;
  margin-top: 20px;
  background-color: yellow;
}

.addpay-ctn{
    width: 95%;
    /* height: 500px; */
    /* background-color: red; */
    border: 2px solid black;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
    font-family: "Poppins";
    padding-bottom: 10px;
}
    .input-row{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        /* background-color: red; */
        margin-top: 10px;
    }
    .btn-ctn{
        display: flex;
        width: 100%;
        padding-right: 30px;
        /* background-color: blue; */
        margin-top: 20px;
        justify-content: flex-end;
    }
    .btn-ctn button:first-child{
        margin-right: 10px;
        background-color: rgb(243, 40, 40);

    }
    .btn-ctn button{
        
        padding: 7px;
        border: 0;
        background-color: #4484fc;
        color: #fff;
    }


    .input-ctn{
        flex: 1;
        /* border: 1px solid black; */
    }
    .input-ctn label{
        font-size: 14px;
    }
    .input-ctn input{
        width: 60%;
        height: 30px;
        padding-left: 10px;
        border: 0.5px solid rgb(184, 184, 184)
    }
    .input-ctn input:focus{
        outline: none;
        border: 1px solid blue;
    }

    .pay-dates{
        display: flex;
        /* justify-content: space-evenly; */
    }
    .pay-dates div:first-child{
        width: 48%;
        /* background-color: blue; */
    }
    .pay-dates div:nth-child(2){
        width: 48%;
        /* background-color: blue; */
    }