  
*{
    margin: 0;
    padding: 0;
}

.main{
    width:100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
    .leftSidebar{
      position: fixed;
        float: left;
        width: 300px;
        height: 100vh;
        background-color: #151942;
    }

    .leftSidebar h2{
        color: #fff;
        margin-top: 20px;
        margin-left: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
        .tabs{
            display:flex;
            flex-direction: column;
            width: 80%;
            height: 400px;
            margin-top: 45px;
            margin-left: 20px;
            /* background-color: rgb(32, 32, 32); */
        }
        .tabs a{
            text-decoration: none;
        }
        .tab{
            display: flex;
            align-items: center;
            width: 100%;
            height: 50px;
            /* background-color: red; */
            margin-bottom: 5px;
        }
        .active{
            background-color: rgb(218, 1, 84);
            padding-left: 10px;
            /* color: #000; */
        }
        .tab:hover{
            background-color: rgb(82, 2, 32);
            padding-left: 10px;
            /* color: #000; */
        }

        .tab img{
            width: 15px;
            height: 15px;
            margin-right: 20px;
        }
        .tab h5{
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 300;
        }
        a:last-child{
          position: absolute;
          bottom: 0;
        }
        a:nth-child(2) img{
            width: 20px;
            height: 20px;
        }
        
        a:nth-child(3) img{
            width: 20px;
            height: 20px;
        }
    .main-container{
        float: right;
        width: calc(100% - 300px);
        height: inherit;
    }
    .top-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        background-color: rgb(241, 241, 240);
    }
        .circle{
            width: 35px;
            height: 35px;
            border-radius: 50px;
            background-image: url('../assets/dot.png');
            background-size: 35px;
            border: 0;
            background-color: transparent;
            margin-left: 10px;
            /* background-color: white; */
        }

        .prf-container{
          display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 200px;
            height: 45px;
            /* background-color: red; */
            margin-right: 10px;
        }
          .prf-circle{
            width: 40px;
            height: 40px;
            border-radius: 50px;
            margin-right: 10px;
            background-color: white;
          }
            .prf-circle img{
              width: inherit;
              height: inherit;
              border-radius: inherit;
            }
          .prf-username{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 600;
            color: #1a1a1a;
          }
    
    .dashboard-content{
        padding: 10px;
        margin-top: 20px;
        /* background-color: yellow; */
    }


    /* create employee tab */
    .create-content{
        padding: 10px;
        margin-top: 20px;
        /* background-color: yellow; */
    }
    .clearfix:after {
        content: "";
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
      }
      
      .form_wrapper {
        width: 600px;
        max-width: 100%;
        box-sizing: border-box;
        padding: 25px;
        /* margin: 8% auto 0; */
        position: relative;
        z-index: 1;
        border-top: 5px solid #1a67f5;
      }
      .form_wrapper h2 {
        font-size: 1.5em;
        line-height: 1.5em;
        margin: 0;
      }
      .form_wrapper .title_container {
        text-align: center;
        padding-bottom: 15px;
      }
      .form_wrapper h3 {
        font-size: 1.1em;
        font-weight: normal;
        line-height: 1.5em;
        margin: 0;
      }
      .form_wrapper label {
        font-size: 12px;
      }
      .form_wrapper .row {
        margin: 10px -15px;
      }
      .form_wrapper .row > div {
        padding: 0 15px;
        box-sizing: border-box;
      }
      .form_wrapper .col_half {
        width: 50%;
        float: left;
      }
      .form_wrapper .input_field {
        position: relative;
        margin-bottom: 20px;
      }
      .form_wrapper .input_field > span {
        position: absolute;
        left: 0;
        top: 0;
        color: #333;
        height: 100%;
        border-right: 1px solid #cccccc;
        text-align: center;
        width: 30px;
      }
      .form_wrapper .input_field > span > i {
        padding-top: 10px;
      }
      .form_wrapper .textarea_field > span > i {
        padding-top: 10px;
      }
      .form_wrapper input[type=text], .form_wrapper input[type=email], .form_wrapper input[type=password] {
        width: 100%;
        padding: 8px 10px 9px 35px;
        height: 35px;
        border: 1px solid #cccccc;
        box-sizing: border-box;
        outline: none;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      .form_wrapper input[type=text]:hover, .form_wrapper input[type=email]:hover, .form_wrapper input[type=password]:hover {
        background: #fafafa;
      }
      .form_wrapper input[type=text]:focus, .form_wrapper input[type=email]:focus, .form_wrapper input[type=password]:focus {
        -webkit-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
        -moz-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
        box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
        border: 1px solid #4484fc;
        background: #fafafa;
      }
      .form_wrapper input[type=submit] {
        background: #4484fc;
        height: 35px;
        line-height: 35px;
        width: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        color: #fff;
        font-size: 1.1em;
        margin-bottom: 10px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      .form_wrapper input[type=submit]:hover {
        background: #4484fc;
      }
      .form_wrapper input[type=submit]:focus {
        background: #4484fc;
      }
      .form_wrapper input[type=checkbox], .form_wrapper input[type=radio] {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      
      .cancelbtn{
        background: red;
        height: 35px;
        line-height: 35px;
        width: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        color: #fff;
        font-size: 1.1em;
        margin-bottom: 10px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
          
      }
       
      .form_container .row .col_half.last {
        border-left: 1px solid #cccccc;
      }
      
      .checkbox_option label {
        margin-right: 1em;
        position: relative;
      }
      .checkbox_option label:before {
        content: "";
        display: inline-block;
        width: 0.5em;
        height: 0.5em;
        margin-right: 0.5em;
        vertical-align: -2px;
        border: 2px solid #cccccc;
        padding: 0.12em;
        background-color: transparent;
        background-clip: content-box;
        transition: all 0.2s ease;
      }
      .checkbox_option label:after {
        border-right: 2px solid #000000;
        border-top: 2px solid #000000;
        content: "";
        height: 20px;
        left: 2px;
        position: absolute;
        top: 7px;
        transform: scaleX(-1) rotate(135deg);
        transform-origin: left top;
        width: 7px;
        display: none;
      }
      .checkbox_option input:hover + label:before {
        border-color: #000000;
      }
      .checkbox_option input:checked + label:before {
        border-color: #000000;
      }
      .checkbox_option input:checked + label:after {
        -moz-animation: check 0.8s ease 0s running;
        -webkit-animation: check 0.8s ease 0s running;
        animation: check 0.8s ease 0s running;
        display: block;
        width: 7px;
        height: 20px;
        border-color: #000000;
      }
      
      .radio_option label {
        margin-right: 1em;
      }
      .radio_option label:before {
        content: "";
        display: inline-block;
        width: 0.5em;
        height: 0.5em;
        margin-right: 0.5em;
        border-radius: 100%;
        vertical-align: -3px;
        border: 2px solid #cccccc;
        padding: 0.15em;
        background-color: transparent;
        background-clip: content-box;
        transition: all 0.2s ease;
      }
      .radio_option input:hover + label:before {
        border-color: #000000;
      }
      .radio_option input:checked + label:before {
        background-color: #000000;
        border-color: #000000;
      }
      
      .select_option {
        position: relative;
        width: 100%;
      }
      .select_option select {
        display: inline-block;
        width: 100%;
        height: 35px;
        padding: 0px 15px;
        cursor: pointer;
        color: #7b7b7b;
        border: 1px solid #cccccc;
        border-radius: 0;
        background: #fff;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        transition: all 0.2s ease;
      }
      .select_option select::-ms-expand {
        display: none;
      }
      .select_option select:hover, .select_option select:focus {
        color: #000000;
        background: #fafafa;
        border-color: #000000;
        outline: none;
      }
      
      .select_arrow {
        position: absolute;
        top: calc(50% - 4px);
        right: 15px;
        width: 0;
        height: 0;
        pointer-events: none;
        border-width: 8px 5px 0 5px;
        border-style: solid;
        border-color: #7b7b7b transparent transparent transparent;
      }
      
      .select_option select:hover + .select_arrow, .select_option select:focus + .select_arrow {
        border-top-color: #000000;
      }
      
      
      @-webkit-keyframes check {
        0% {
          height: 0;
          width: 0;
        }
        25% {
          height: 0;
          width: 7px;
        }
        50% {
          height: 20px;
          width: 7px;
        }
      }
      @keyframes check {
        0% {
          height: 0;
          width: 0;
        }
        25% {
          height: 0;
          width: 7px;
        }
        50% {
          height: 20px;
          width: 7px;
        }
      }
      @-webkit-keyframes expand {
        0% {
          -webkit-transform: scale3d(1, 0, 1);
          opacity: 0;
        }
        25% {
          -webkit-transform: scale3d(1, 1.2, 1);
        }
        50% {
          -webkit-transform: scale3d(1, 0.85, 1);
        }
        75% {
          -webkit-transform: scale3d(1, 1.05, 1);
        }
        100% {
          -webkit-transform: scale3d(1, 1, 1);
          opacity: 1;
        }
      }
      @keyframes expand {
        0% {
          -webkit-transform: scale3d(1, 0, 1);
          transform: scale3d(1, 0, 1);
          opacity: 0;
        }
        25% {
          -webkit-transform: scale3d(1, 1.2, 1);
          transform: scale3d(1, 1.2, 1);
        }
        50% {
          -webkit-transform: scale3d(1, 0.85, 1);
          transform: scale3d(1, 0.85, 1);
        }
        75% {
          -webkit-transform: scale3d(1, 1.05, 1);
          transform: scale3d(1, 1.05, 1);
        }
        100% {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
          opacity: 1;
        }
      }

      @media (max-width: 600px) {
        .form_wrapper .col_half {
          width: 100%;
          float: none;
        }
      
        .bottom_row .col_half {
          width: 50%;
          float: left;
        }
      
        .form_container .row .col_half.last {
          border-left: none;
        }
      
        .remember_me {
          padding-bottom: 20px;
        }
      }
