*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: 4cbff4;
  font-family: sans-serif;
}

.main{
    width:100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
    .leftSidebar{
      position: fixed;
        float: left;
        width: 300px;
        height: 100vh;
        background-color: #151942;
    }

    .leftSidebar h2{
        color: #fff;
        margin-top: 20px;
        margin-left: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
        .tabs{
            display:flex;
            flex-direction: column;
            width: 80%;
            height: 400px;
            margin-top: 45px;
            margin-left: 20px;
            /* background-color: rgb(32, 32, 32); */
        }
        .tabs a{
            text-decoration: none;
        }
        .tab{
            display: flex;
            align-items: center;
            width: 100%;
            height: 50px;
            /* background-color: red; */
            margin-bottom: 5px;
        }
        .active{
            background-color: rgb(218, 1, 84);
            padding-left: 10px;
            /* color: #000; */
        }
        .tab:hover{
            background-color: rgb(82, 2, 32);
            padding-left: 10px;
            /* color: #000; */
        }
        .tab img{
            width: 15px;
            height: 15px;
            margin-right: 20px;
        }
        .tab h5{
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 300;
        }
        a:last-child{
          position: absolute;
          bottom: 0;
        }
        a:nth-child(2) img{
            width: 20px;
            height: 20px;
        }
        
        a:nth-child(3) img{
            width: 20px;
            height: 20px;
        }
    .main-container{
        float: right;
        width: calc(100% - 300px);
        height: inherit;
    }
    .top-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        background-color: rgb(241, 241, 240);
    }
        .circle{
            width: 35px;
            height: 35px;
            border-radius: 50px;
            background-image: url('../assets/dot.png');
            background-size: 35px;
            border: 0;
            background-color: transparent;
            margin-left: 10px;
            /* background-color: white; */
        }

        .prf-container{
          display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 200px;
            height: 45px;
            /* background-color: red; */
            margin-right: 10px;
        }
          .prf-circle{
            width: 40px;
            height: 40px;
            border-radius: 50px;
            margin-right: 10px;
            background-color: white;
          }
            .prf-circle img{
              width: inherit;
              height: inherit;
              border-radius: inherit;
            }
          .prf-username{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 600;
            color: #1a1a1a;
          }
    
    .dashboard-content{
        padding: 10px;
        margin-top: 20px;    
    }
      
/* The employee list Css starts here*/

.table-container{
  padding: 0 10%;
  margin: 40px auto 0;
}

.heading{
  font-size: 40px;
  text-align: center;
  color: f1f1f1;
  margin-bottom: 40px;
}

.table{
  width: 100%
}

  .table thead{
    background-color: #4cbff4;  
  }

  .table thead tr th{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: #FFFFFF;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px solid #217aa3;
  }
.table tbody tr td{
  font-size: 14px;
  letter-spacing: 0.35px;
  font-weight: normal;
  color: #fff;
  background-color: #4cbff4;
  padding: 8px;
  text-align: center;
  border: 1px solid #217aa3 ;
}

.table tbody tr td .btn{
  width: 130px;
  text-decoration: none;
  line-height: 35px;
  display: inline-block;
  background-color: #4cbff4;
  font-weight: medium;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 14px;
  opacity: 1;
}

 .table.text_open{
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.35px;
  color: #fff
} 
